<form class="encrypt">
  <div class="form-group">
    <label for="recipient">Recipient</label>
    <select name="to" class="form-control">
      <option value="">(Self)</option>
      {{#each recipients}}
      <option value="{{pubkey}}"{{#if selected}} selected{{/if}}>{{name}} &lt;{{email}}&gt;</option>
      {{/each}}
    </select>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="sign" value="1">
      Include signature
    </label>
  </div>
  {{#unless hide_ascii_options}}
  <div class="checkbox">
    <label>
      <input type="checkbox" name="armor" value="1">
      ASCII armor
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="gist" value="1">
      Upload gist
    </label>
  </div>
  {{/unless}}
</form>