<div class="col-sm-3 col-md-2 sidebar">
  <h3><i class="glyphicon glyphicon-hdd"></i> Wallet</h3>
  <ul class="nav nav-sidebar">
    <li{{#if on_id}} class="active"{{/if}}><a href="/id"><i class="glyphicon glyphicon-user"></i> My Salty ID</a></li>
    <li{{#if on_ls}} class="active"{{/if}}><a href="/ls"><i class="glyphicon glyphicon-globe"></i> Imported Keys</a></li>
  </ul>
  <h3><i class="glyphicon glyphicon-eye-close"></i> Confidentiality</h3>
  <ul class="nav nav-sidebar">
    <li{{#if on_encrypt}} class="active"{{/if}}><a href="/encrypt"><i class="glyphicon glyphicon-lock"></i> Encrypt</a></li>
    <li{{#if on_decrypt}} class="active"{{/if}}><a href="/decrypt"><i class="glyphicon glyphicon-eye-open"></i> Decrypt</a></li>
  </ul>
  <h3><i class="glyphicon glyphicon-ok"></i> Authentication</h3>
  <ul class="nav nav-sidebar">
    <li{{#if on_sign}} class="active"{{/if}}><a href="/sign"><i class="glyphicon glyphicon-certificate"></i> Sign</a></li>
    <li{{#if on_verify}} class="active"{{/if}}><a href="/verify"><i class="glyphicon glyphicon-ok"></i> Verify</a></li>
  </ul>
</div>