<div class="col-sm-3 col-md-2 sidebar">
  <h3>Wallet</h3>
  <ul class="nav nav-sidebar">
    <li><a href="/id">My Salty ID</a></li>
    <li><a href="/ls">Imported Keys</a></li>
    <li><a href="/save">Export Wallet</a></li>
  </ul>
  <h3>Confidentiality</h3>
  <ul class="nav nav-sidebar">
    <li><a href="/encrypt">Encrypt</a></li>
    <li><a href="/decrypt">Decrypt</a></li>
  </ul>
  <h3>Authentication</h3>
  <ul class="nav nav-sidebar">
    <li><a href="/sign">Sign</a></li>
    <li><a href="/verify">Verify</a></li>
  </ul>
</div>