<p class="pull-right">
  <a class="btn btn-default" href="/id"><i class="glyphicon glyphicon-user"></i> ID</a>
  <a class="btn btn-primary" href="/id/refresh"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
  <a class="btn btn-default" href="/save"><i class="glyphicon glyphicon-briefcase"></i> Export</a>
</p>

<h2>Refresh</h2>

<hr>

<form>
  <div class="form-group">
    <div class="well">
      <h3>Optional: Change passphrase</h3>
      <label for="inputPassphrase"><i class="glyphicon glyphicon-phone-alt"></i> Create passphrase:</label>
      <input id="inputPassphrase" type="password" class="form-control" required name="passphrase" value="">
      <label for="inputPassphrase2"><i class="glyphicon glyphicon-repeat"></i> Confirm passphrase:</label>
      <input id="inputPassphrase2" type="password" class="form-control" required name="passphrase2" value="">
    </div>
    <div class="well">
      <h3>Optional: Forward secrecy</h3>
      <p>Refreshing your decryption key makes old encrypted messages to you undecryptable.</p>
      <div class="checkbox">
        <p class="text-danger"><i class="glyphicon glyphicon-exclamation-sign"></i> ARE YOU SURE? This is not undoable and you will lose your old decryption key FOREVER.</p>
        <p class="text-warning"><i class="glyphicon glyphicon-exclamation-sign"></i> After you do this, you'll need to distribute your new Salty-ID (for encryption). Your signing key will stay the same.</p>
        <label>
          <input type="checkbox" name="decrypt_regen" value="1">
          Yes, I want a NEW decryption key
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Refresh</button>
  </div>
</form>