<p class="pull-right">
  <a class="btn btn-default" href="/id/destroy"><i class="glyphicon glyphicon-trash"></i> Destroy</a>
  <a class="btn btn-default" href="/id/edit"><i class="glyphicon glyphicon-refresh"></i> Edit/refresh</a>
  <a class="btn btn-default" href="/save"><i class="glyphicon glyphicon-briefcase"></i> Export</a>
</p>

<h2>Wallet</h2>

<h3>Here is your public Salty-ID.</h3>

<p>Copy, paste, and share!</p>

<hr>

<textarea class="form-control" rows="3" onclick="this.select()" readonly>{{pubkey}}</textarea>