<p class="pull-right">
  <a class="btn btn-primary" href="/id"><i class="glyphicon glyphicon-user"></i> ID</a>
  <a class="btn btn-default" href="/id/refresh"><i class="glyphicon glyphicon-refresh"></i> Refresh</a>
  <a class="btn btn-default" href="/save"><i class="glyphicon glyphicon-briefcase"></i> Export</a>
</p>

<h2>ID</h2>

<h3>Here is your public Salty-ID.</h3>

<p>Copy, paste, and share!</p>

<hr>

<textarea id="pubkey" class="form-control" rows="3" onclick="this.select()" readonly>{{pubkey}}</textarea>

<p><button class="copyButton btn btn-success" data-copytarget="#pubkey"><i class="glyphicon glyphicon-copy"></i> Copy</button></p>
