<h2>Import Key, Step 2</h2>

<hr>

<form class="import" action="/import/complete" method="post">
  <div class="form-group">
    <label for="input">Pubkey:</label>
    <input name="pubkey" type="text" class="form-control input-sm" name="input" value="{{pubkey.pubkey}}" readonly>
  </div>
  <div class="form-group">
    <label for="input">Name:</label>
    <input name="name" type="text" class="form-control input-sm" name="input" value="{{pubkey.name}}">
  </div>
  <div class="form-group">
    <label for="input">Email:</label>
    <input name="email" type="text" class="form-control input-sm" name="input" value="{{pubkey.email}}">
  </div>
  <button type="submit" class="btn btn-primary">Import</button>
</form>