<h2>Import Key</h2>

<hr>

<form class="import" action="" method="post">
  <div class="form-group">
    <label for="input">Pubkey, URL or File:</label>
    <input id="input" type="text" class="form-control input-sm" name="input" placeholder="salty-id -SY_p0U2iBDo8SiR1FpBiQh6LnTlqgNvJGoqh6qSjTJ5qKZ5DZUAPJ3S07ksyhf66WwfvlXXPnkfup6U-Gpe0A &quot;Bob&quot; &lt;bob@s8f.org&gt;" value="{{post.input}}">
  </div>
  <button type="submit" class="btn btn-primary">Import</button>
</form>