<form class="form-init" method="post" action="">
  <h2 class="form-init-heading">{{title}}</h2>
  {{> partials/messages}}
  <input type="text" id="inputName" class="form-control" placeholder="Your Name" required name="name" value="{{post.name}}">
  <input type="email" id="inputEmail" class="form-control" placeholder="Your Email" required name="email" value="{{post.email}}">
  <input type="password" id="inputPassphrase" class="form-control" placeholder="Create Passphrase" required name="passphrase" value="">
  <input type="password" id="inputPassphrase2" class="form-control" placeholder="Re-type passphrase" required name="passphrase2" value="">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Create Wallet</button>

  <p class="pull-right"><small><a href="/restore">Restore from backup</a></small></p>
</form>