<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/dashboard.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      {{> partials/navbar}}
      <div class="well">
        {{> partials/messages}}
        {{{content}}}
      </div>
      <p class="pull-right footer"><small>
      <a href="https://github.com/carlos8f/salty">Salty {{saltyVersion}}</a></small></p>
    </div>
    <script src="/jquery.min.js"></script>
    <script src="/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <script src="/dropzone.js"></script>
    <script src="/main.js"></script>
  </body>
</html>