<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="/bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/signin.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      {{{content}}}
    </div>
  </body>
</html>