<form class="form-init" method="post" action="/login">
  <div class="well">
    <h2 class="form-init-heading"><i class="salty-logo"></i> {{title}}</h2>
    <h3>Log in</h3>
    {{> partials/messages}}
    <label for="inputUsername"><i class="glyphicon glyphicon-user"></i> Username:</label>
    <input id="inputUsername" type="username" class="form-control" required name="username" value="{{post.username}}">
    <label for="inputPassphrase"><i class="glyphicon glyphicon-phone-alt"></i> Passphrase:</label>
    <input id="inputPassphrase" type="password" class="form-control" required name="passphrase">
    <button class="btn btn-success btn-block" type="submit"><i class="glyphicon glyphicon-ok"></i> Log in</button>
  </div>

  {{#unless isSetup}}<p class="pull-right"><small><a href="/init"><i class="glyphicon glyphicon-plus"></i> Create a wallet</a></small></p>{{/unless}}
</form>
