<form class="form-init" method="post" action="/login">
  <h2 class="form-init-heading"><i class="salty-logo"></i> {{title}}</h2>
  {{> partials/messages}}
  <input type="password" id="inputPassword" class="form-control" placeholder="Passphrase" required name="passphrase">
  <button class="btn btn-lg btn-success btn-block" type="submit"><i class="glyphicon glyphicon-ok"></i> Log in</button>
</form>