<h2>Restore from backup</h2>

<form class="restore" action="" method="post" enctype="multipart/form-data">
  {{> partials/messages}}
  <div class="form-group">
    <label for="input">salty.pem:</label>
    <input type="file" name="salty.pem">
    <label for="inputPassword">Passphrase:</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Passphrase" required name="passphrase">
    <button type="submit" class="btn btn-primary">Restore</button>
  </div>
</form>
