<form class="form-init" action="" method="post" enctype="multipart/form-data">
  {{> partials/messages}}
  <div class="form-group">
    <label for="input"><i class="glyphicon glyphicon-floppy-disk"></i> salty.pem:</label>
    <input type="file" name="salty.pem">
    <label for="inputPassword"><i class="glyphicon glyphicon-phone-alt"></i> Backup Passphrase:</label>
    <input type="password" id="inputPassword" class="form-control" required name="passphrase">
    <button type="submit" class="btn btn-primary">Restore</button>
  </div>
</form>
