<h2><i class="glyphicon glyphicon-eye-open"></i> Verify</h2>

<ul class="nav nav-pills">
  <li><a href="/decrypt/upload"><i class="glyphicon glyphicon-upload"></i> Upload files</a></li>
  <li><a href="/decrypt/text"><i class="glyphicon glyphicon-copy"></i> Copy/paste</a></li>
  <li class="active"><a href="#"><i class="glyphicon glyphicon-open-file"></i> Local file/dir or gist URL</a></li>
</ul>

<div id="encrypt-local">
  <form method="post" action="">
    <div id="actions" class="row">
      <div class="col-lg-7">
        <div class="form-group">
          <label for="input"><i class="glyphicon glyphicon-file"></i> File/dir path or gist URL:</label>
          <input id="input" type="text" class="form-control input-sm" name="input" placeholder="/path/to/file or gist URL" value="{{post.input}}">
        </div>
        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Verify</button>
      </div>
    </div>
  </form>
</div>