/*
 * Base structure
 */

/*
 * Global add-ons
 */

body {
  background: #eee url(/bg.png) center top no-repeat;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 52px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 10px 20px 20px 20px;
  white-space: nowrap;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 0 20px 0 20px;
}
.main .page-header {
  margin-top: 0;
}

/* Mimic table appearance */
div.table {
  display: table;
}
div.table .file-row {
  display: table-row;
}
div.table .file-row > div {
  display: table-cell;
  vertical-align: top;
  border-top: 1px solid #ddd;
  padding: 8px;
}
div.table .file-row {
  background: rgba(255,255,255,0.4);
}

/* The total progress gets shown by event listeners */
#total-progress {
  margin-top: 20px;
  opacity: 0;
  transition: opacity 0.3s linear;
}

/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
  opacity: 0;
  transition: opacity 0.3s linear;
}

/* Hide the delete button initially */
#previews .file-row .delete {
  display: none;
}

#previews .file-row .download {
  display: none;
}

#previews .file-row.dz-success .download {
  display: inline-block;
}

/* Hide the start and cancel buttons and show the delete button */

#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
  display: none;
}
#previews .file-row.dz-success .delete {
  display: inline-block;
}

.main .nav {
  margin-bottom: 20px;
}

input.form-control, textarea.form-control, select.form-control, input.form-control[readonly], textarea.form-control[readonly] {
  background-color: rgba(255,255,255,0);
}

textarea {
  font-family: monospace;
}

table {
  background-color: rgba(255, 255, 255,0.25);
}

.salty-logo {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: black url(/salt-shaker.png) center no-repeat;
  margin-bottom: -5px;
  margin-right: -5px;
}

.navbar {
  border-radius: 0;
}

.navbar-inverse {
  background: black;
  position: relative;
  height: 70px;
  color: #888;
  font-size: 0.9em;
  padding-top: 5px;
}

.navbar-inverse .navbar-brand {
  float: none;
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  color: white;
  font-size: 26px;
  line-height: 1;
  letter-spacing: 0.05em;
}

.navbar li {
  margin-top: 5px;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
}

.checkbox label {
  min-height: 25px;
}

label {
  margin-bottom: 10px;
}

.form-group.cbox {
  margin-bottom: 0;
}