/*
 * Base structure
 */

/*
 * Global add-ons
 */

html {
  display: table;
  height: 100%;
  width: 100%;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #ddd;
  -webkit-box-shadow: inset 0 0 200px rgba(0,0,0,.3);
  box-shadow: inset 0 0 200px rgba(0,0,0,.3);
  height: 100%;
  display: table;
  width: 100%;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: black;
}

.navbar {
  margin-bottom: 20px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Mimic table appearance */
div.table {
  display: table;
}
div.table .file-row {
  display: table-row;
}
div.table .file-row > div {
  display: table-cell;
  vertical-align: top;
  border-top: 1px solid #ddd;
  padding: 8px;
}
div.table .file-row {
  background: rgba(255,255,255,0.4);
}

/* The total progress gets shown by event listeners */
#total-progress {
  margin-top: 20px;
  opacity: 0;
  transition: opacity 0.3s linear;
}

/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
  opacity: 0;
  transition: opacity 0.3s linear;
}

/* Hide the delete button initially */
#previews .file-row .delete {
  display: none;
}

#previews .file-row .download {
  display: none;
}

#previews .file-row.dz-success .download {
  display: inline-block;
}

/* Hide the start and cancel buttons and show the delete button */

#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
  display: none;
}
#previews .file-row.dz-success .delete {
  display: inline-block;
}

input.form-control, textarea.form-control, select.form-control, input.form-control[readonly], textarea.form-control[readonly] {
  border: 1px solid #888;
  background-color: #fff;
  margin-bottom: 10px;
}

textarea {
  font-family: monospace;
}

.salty-logo {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(/salt-shaker-inverse.png) center no-repeat;
  margin-top: -5px;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
}

.checkbox label {
  min-height: 25px;
}

label {
  margin-bottom: 10px;
}

.form-group.cbox {
  margin-bottom: 0;
}

input.form-control {
  background-color: rgba(255,255,255,1);
  border: 1px solid #888;
}

.salty-logo {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(/salt-shaker-inverse.png) center no-repeat;
  margin-bottom: -5px;
  margin-right: -5px;
}

.well, .navbar {
  border: 1px solid #888;
  background-color: #fff;
  margin-bottom: 10px;
}

.well h3 {
  margin-top: 0;
}

.btn-default {
  border: 1px solid #888;
}

.btn-success {
  border: 1px solid #185018;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}