html {
  display: table;
  height: 100%;
  width: 100%;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #ddd;
  -webkit-box-shadow: inset 0 0 200px rgba(0,0,0,.3);
  box-shadow: inset 0 0 200px rgba(0,0,0,.3);
  height: 100%;
  display: table;
  width: 100%;
}

h3 {
  text-align: center;
}

a {
  color: black;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading {
  text-align: center;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-init {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-init .form-init-heading {
  text-align: center;
  margin: 0;
  padding: 10px;
  color: black;
}
.form-init .form-init-heading,
.form-init .checkbox {
  margin-bottom: 10px;
}
.form-init .checkbox {
  font-weight: normal;
}
.form-init .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}
.form-init .form-control:focus {
  z-index: 2;
}
.form-init input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-init input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#inputPassphrase2 {
  margin-bottom: 20px;
}

.alert {
  margin-bottom: 0;
}

.form-init button {
  margin-bottom: 10px;
}
label, button {
  margin-top: 15px;
}

input.form-control {
  background-color: rgba(255,255,255,1);
  border: 1px solid #888;
}

.salty-logo {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(/salt-shaker-inverse.png) center no-repeat;
  margin-bottom: -5px;
  margin-right: -5px;
  margin-left: -20px;
}

.well {
  border: 1px solid #888;
  background-color: #fff;
  margin-bottom: 10px;
}

.btn-default {
  border: 1px solid #888;
}

.btn-success {
  border: 1px solid #185018;
}
